<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 读取自身进程 logcat，用于诊断界面 -->
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:allowBackup="false"
        android:description="@string/xposed_description"
        android:hasCode="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name">

        <!-- 兼容旧版 Xposed/LSPosed 识别 -->
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="@string/xposed_description" />
        <meta-data
            android:name="xposedminversion"
            android:value="93" />

        <!-- 诊断界面，点击桌面图标打开 -->
        <activity
            android:name=".DiagnosticActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
